@import "_fonts.scss";
@import "partials/_head.scss";
@import "partials/_home.scss";
@import "partials/_about.scss";
@import "partials/_events.scss";
@import "partials/_recordings.scss";
@import "partials/_gallery.scss";
@import "partials/_contact.scss";
@import "partials/_footer.scss";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 16px;
}

body {
    font-family: 'Titillium Web', Arial, sans-serif;
    overflow-x: hidden;
}
p {
    font-family: 'Lato', Arial, sans-serif;
}
