@import "_fonts.scss";
@import "partials/_head.scss";
@import "partials/_home.scss";
@import "partials/_about.scss";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', Arial, sans-serif;
}
