.about_bio {
    h1 {
    text-transform: uppercase;
    font-size: (40/16)*1rem;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 2px;
    }
    p {
    margin: 14px 40px;
    text-align: justify;
    font-size: 1.1rem;
    }
}

@media only screen and (min-width: 1300px) {
    .about_bio {
        width: 1000px;
        margin: 0 auto;
        p {
        margin: 14px 0;
        text-align: justify;
        font-size: 1.2rem;
        }
    }
}
@media only screen and (max-width: 1024px) {
    .about_bio {
        h1 {
            font-size: 2rem;
        }
        p {
            font-size: 1.1rem;
            margin: 3vw 5vw;
            text-align: left;
        }
    }
}
