.events_header {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,170,0); //#274c5e
    height: 70px;
    h2 {
        color: white;
        font-size: 30px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .events_header_past {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        background-color: white;
        border: 1px solid white;
        a {
            text-decoration: none;
            color: rgb(255,170,0);
            font-weight: 700;
            font-size: 20px;
        }
    }
}

.future-events {
    background: #E0E3DA;
    padding: 10px;
    padding-top: 30px;
    .future-events_single {
        background-color: white;
        width: 85vw;
        height: 15vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto 10px auto;
        .future-events_single_date {
            text-transform: uppercase;
            font-size: 18px;
            width: 25%;
            margin-left: 15px;
        }
        .future-events_single_title {
            text-transform: uppercase;
            font-size: 18px;
            width: 45%;
            .bold {
                font-weight: 700;
            }
        }
        .future-events_single_place {
            width: 30%;
            a {
                text-decoration: none;
                font-weight: 700;
                color: black;
                font-size: 18px;
            }
        }
    }
}

.past-events {
    background-color: #E0E3DA;
    .past-events_header {
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 20px;
        letter-spacing: 2px;
        .past-events_header_year {
            background-color: rgb(255,170,0);
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin-left: 81px;
            margin-bottom: 8px;
            color: white;
        }
    }
    .past-events_single {
        background-color: white;
        width: 85vw;
        height: 15vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto 20px auto;
        .past-events_single_date {
            text-transform: uppercase;
            font-size: 18px;
            width: 25%;
            margin-left: 15px;
        }
        .past-events_single_title {
            text-transform: uppercase;
            font-size: 18px;
            width: 45%;
            .bold {
                font-weight: 700;
            }
        }
        .past-events_single_place {
            width: 30%;
            a {
                text-decoration: none;
                font-weight: 700;
                color: black;
                font-size: 18px;
            }
        }
    }
}
