#events {
    background-color: #333333; //#383838;//#262626;
    padding-bottom: 20px;
}

.events_header {
    margin-top: 50px;
    padding-top: 20px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.future-events {
    padding: 10px;
    padding-top: 30px;
    .future-events_single {
        background-color: white;
        color: #262626;
        width: 70vw;
        height: 25vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto 10px auto;
        .future-events_single_date {
            text-transform: uppercase;
            font-size: 18px;
            width: 25%;
            margin-left: 15px;
        }
        .future-events_single_title {
            text-transform: uppercase;
            font-size: 18px;
            width: 50%;
            .bold {
                font-weight: 700;
            }
        }
        .future-events_single_place {
            width: 25%;
            .future-events_single_place_button {
                background-color: rgb(255,170,0);
                border: 1px solid rgb(255,170,0);
                width: 115px;
                height: 24px;
                a {
                    text-decoration: none;
                    font-weight: 700;
                    color: #fff;
                    font-size: 17px;
                    padding: 2px 9px;
                }
            }
        }
    }
}

.past-events {
    .past-events_header {
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 20px;
        letter-spacing: 2px;
        color: #fff;
        .past-events_header_year {
            background-color: rgb(255,170,0);
            width: 80px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin-left: 171px;
            color: #fff;
        }
    }
    .past-events_single {
        background-color: white;
        color: #262626;
        width: 70vw;
        height: 25vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto 10px auto;
        .past-events_single_date {
            text-transform: uppercase;
            font-size: 18px;
            width: 25%;
            margin-left: 15px;
        }
        .past-events_single_title {
            text-transform: uppercase;
            font-size: 18px;
            width: 50%;
            .bold {
                font-weight: 700;
            }
        }
        .past-events_single_place {
            width: 25%;
            height: 100%;
            background-color: rgb(255,170,0);
            .past-events_single_place_button {
                background-color: rgb(255,170,0);
                border: 1px solid rgb(255,170,0);
                //width: 150px;
                //height: 30px;
                a {
                    text-decoration: none;
                    font-weight: 700;
                    color: #fff;
                    font-size: 17px;
                    padding: 2px 9px;
                }
            }
        }
    }
    //.past-events_single:hover {
    //    height: 35vh;
        //dodaj opis: drygent i takie tam
        //button może się też powiększać po najechaniu
    //}
}
