#events {
    background-color: #333333;
    padding-bottom: 20px;
}

.events_header {
    padding-top: 60px;
    text-align: center;
    color: #fff;
    h2 {
        font-size: (42/16)*1rem;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
}

.past-events {
    padding-bottom: 70px;
    padding-top: 70px;
    .past-events_single {
        background-color: #ffaa00;
        color: #262626;
        width: 1000px;
        // height: 30vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto 40px auto;
        transition: height 0.6s ease;
        transition-delay: 0.3s;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 33px 6px rgba(36,36,36,1);
        -moz-box-shadow: 0px 0px 33px 6px rgba(36,36,36,1);
        box-shadow: 0px 0px 33px 6px rgba(36,36,36,1);
        .medium {
            height: 100%;
            width: 77%;
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: #fff;
            .past-events_single_date {
                text-transform: uppercase;
                width: 40%;
                height: 100%;
                display: flex;
                align-items: center;
                padding-left: 2vw;
                p {
                    font-size: 22px;
                    font-weight: 600;
                }
            }
            .past-events_single_title {
                // text-transform: uppercase;
                width: 60%;
                height: 100%;
                padding: 30px 0 30px 30px;
                // border-left: 1px solid #ffaa00;
                p {
                    font-size: 20px;
                    padding: 0 30px;
                    font-weight: 300;
                }
                .past-event-author {
                    font-size: 24px;
                    font-size: 'Titillium Web', Arial, sans-serif;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
                .past-event-title {
                    font-size: 'Titillium Web', Arial, sans-serif;
                    font-size: 28px;
                    font-weight: 700;
                    letter-spacing: 1.5px;
                    margin: 10px 0 20px;
                    text-transform: uppercase;
                }
                .past-event-city {
                    font-size: 18px;
                    margin-bottom: 16px;
                }
                .delay {
                    color: #363636;
                    margin-top: 10px;
                    // border-bottom: 1px solid #363636;
                    // border-top: 1px solid #ffaa00;
                    width: 100%;
                    p {
                        font-size: 18px;
                        margin-bottom: 6px;
                        letter-spacing: 0.6px;
                    }
                    .past-event-place {
                        font-weight: 600;
                    }
                }
            }
        }
        .past-events_single_place {
            width: 23%;
            height: 100%;
            background-color: rgb(255,170,0);
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            .past-events_single_place_button {
                background-color: rgb(255,170,0);
                border: 3px solid #fff;
                width: 80%;
                cursor: pointer;
                transition: 0.5s;
                a {
                    text-decoration: none;
                    font-weight: bold;
                    color: #fff;
                    font-size: 35px;
                    text-transform: uppercase;
                    padding: 0;
                    transition: 0.5s;
                    i {
                        font-size: 30px;
                    }
                }
            }
            .past-events_single_place_button:hover {
                background-color: lighten(#ffaa00, 5%);
                border: 3px solid #fff;
                width: 80%;
                cursor: pointer;
                a {
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 35px;
                    text-transform: uppercase;
                    padding: 0;
                    i {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    .past-events_single.show-event {
        height: 40vh;
        .medium {
            .past-events_single_title {
                // .delay {
                //     visibility: visible;
                //     opacity: 1;
                //     width: 70%;
                // }
            }
        }
    }
}
@media only screen and (max-width: 1300px) {
    .past-events {
        .past-events_header {
            h2 {
                font-size: 40px;
            }
        }
        .past-events_single {
            width: 75vw;
            .medium {
                .past-events_single_date {
                    width: 33%;
                    p {
                        font-size: 20px;
                    }
                }
                .past-events_single_title {
                    p {
                        font-size: 20px;
                    }
                    .past-event-author {
                        font-size: 24px;
                    }
                    .past-event-title {
                        font-size: 28px;
                    }
                    .past-event-city {
                        font-size: 18px;
                    }
                    .delay {
                        p {
                            font-size: 18px;
                        }
                    }
                }
            }
            .past-events_single_place {
                .past-events_single_place_button {
                    a {
                        font-size: 35px;
                        i {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1290px) {
    .past-events {
        .past-events_header {
            h2 {
                font-size: 40px;
            }
        }
        .past-events_single {
            width: 75vw;
            .medium {
                .past-events_single_date {
                    width: 38%;
                    p {
                        font-size: 18px;
                    }
                }
                .past-events_single_title {
                    p {
                        font-size: 20px;
                    }
                    .past-event-author {
                        font-size: 24px;
                    }
                    .past-event-title {
                        font-size: 28px;
                    }
                    .past-event-city {
                        font-size: 18px;
                    }
                    .delay {
                        p {
                            font-size: 18px;
                        }
                    }
                }
            }
            .past-events_single_place {
                .past-events_single_place_button {
                    a {
                        font-size: 35px;
                        i {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 990px) {
    .past-events {
        padding-top: 50px;
        padding-bottom: 70px;
        .past-events_single {
            flex-direction: row;
            width: 70vw;
            .medium {
                display: flex;
                flex-direction: column;
                width: 70%;
                margin: 0;
                padding: 3vh 2vw;
                .past-events_single_date {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding: 0;
                    margin: 0;
                }
                .past-events_single_title {
                    width: 100%;
                    padding-left: 0;
                    padding-bottom: 0;
                    p {
                        padding: 0;
                        margin: 0;
                    }
                }
            }
            .past-events_single_place {
                width: 30%;
            }
        }
    }
}
@media only screen and (max-width: 680px) {
    .events_header {
        padding-top: 40px;
    }
    .past-events {
        padding-bottom: 25px;
        .past-events_header {
            padding-bottom: 65px;
            h2 {
                font-size: 35px;
            }
        }
        .past-events_single {
            flex-direction: column;
            align-items: flex-start;
            height: 100%;
            padding: 20px 20px;
            background-color: #fff;
            .medium {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 0;
                margin: 0;
                .past-events_single_date {
                    width: 100%;
                    justify-content: flex-start;
                    padding: 0;
                    margin: 0;
                    margin-bottom: 8px;
                }
                .past-events_single_title {
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    margin-bottom: 8px;
                    p {
                        padding: 0;
                        margin: 0;
                    }
                }
            }
            .past-events_single_place {
                background-color: #fff;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                .past-events_single_place_button {
                    // width: 140px;
                    width: 70%;
                    border: 0px;
                }
            }
        }
    }
}
@media only screen and (max-width: 360px) {
    .past-events {
        .past-events_header {
            h2 {
                font-size: 40px;
            }
        }
        .past-events_single {
            .medium {
                .past-events_single_date {
                    p {
                        font-size: 16px;
                        margin-bottom: 2vh;
                    }
                }
                .past-events_single_title {
                    p {
                        font-size: 18px;
                    }
                    .past-event-author {
                        font-size: 20px;
                    }
                    .past-event-title {
                        font-size: 24px;
                    }
                    .past-event-city {
                        font-size: 18px;
                    }
                    .delay {
                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
            .past-events_single_place {
                .past-events_single_place_button {
                    a {
                        font-size: 35px;
                        i {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}
