.recordings_main {
    display: flex;
    justify-content: center;
}

.recordings_main_content {
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.recordings_main_content_head {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-top: 10vh;
    flex-grow: 1;
    letter-spacing: 2px;
    h2 {
        font-size: (44/16) * 1rem;
    }
}

.recordings_main_content_audio {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.recordings_main_content_audio_audioFile {
    padding-bottom: 30px;
    audio {
        width: 40vw;
    }
}

.recordings_main_content_audio_audioFile h4 {
    border-bottom: 1px solid #FFAA00;
    margin-bottom: 10px;
}

.recordings_main_photo {
    background-image: url("../images/recordings.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 80px);
    width: 35vw;
}

@media only screen and (max-width: 1050px) {
    .recordings_main_photo {
        display: none;
    }
    .recordings_main_content {
        width: 80vw;
        padding-bottom: 6vh;
    }
    .recordings_main_content_head {
        padding-top: 6vh;
        padding-bottom: 8vh;
    }
    .recordings_main_content_audio_audioFile {
        padding-bottom: 30px;
        audio {
            width: 100%;
        }
    }
    .recordings_main_content_audio {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 80%;
    }
}
