.recordings_main {
    display: flex;
    justify-content: center;
}

.recordings_main_content {
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.recordings_main_content_head {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    flex-grow: 1;
    letter-spacing: 2px;

}

.recordings_main_content_audio {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.recordings_main_content_audio_audioFile {
    padding-bottom: 30px;
    audio {
        width: 40vw;
    }
}

.recordings_main_content_audio_audioFile h4 {
    border-bottom: 1px solid #FFAA00;
    margin-bottom: 10px;
}

.recordings_main_photo {
    background-image: url("../images/recordings.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
    width: 35vw;
}
